.navbar {
    font-family: var(--titleFont);
    font-size: 1.25rem;
    color: var(--black);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    border-bottom: 1px solid rgba(231, 231, 231, 0.45);
}

.navbar__item__logo {
    display: flex;
    align-items: center;
}

.navbar__item__logo__img {
    font-size: 1.5rem;
}

.navbar__item__logo span {
    display: inline-block;
    margin-left: .75rem;
}

.navbar__menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar__menu li {
    margin-left: 4rem;
}
.navbar__menu li:first-of-type {
    margin-left: 0;
}

.navbar__menu__active a {
    color: var(--green);
}